

<div id="currentTemperature">
    <span class="value"></span> <span class="unit"></span>
</div>


<div id="requestedTemperature">
    <input type="range" name="requestedTemperature" class="selector" min="15" max="30" />
    <span class="value"></span> <span class="unit"></span>
</div>