<div id="thermo-container">

    <div id="led"></div>

    <div id="currentTemperature">

        <span class="value"></span> <span class="unit"></span>

    </div>
    <div id="requestedTemperature">

        <span class="unit"></span> <span class="value"></span>

        <input type="range" name="requestedTemperature" class="selector" min="15" max="30" />

    </div>

    <div id="menu">
        <div class="menu-item">
        </div>
    </div>

</div>

